[submodule "Bxthre3/projects/zoe"]
	path = Bxthre3/projects/zoe
	url = https://github.com/bxthre3inc/zoe.git
	branch = main
[submodule "Bxthre3/projects/farmsense"]
	path = Bxthre3/projects/farmsense
	url = https://github.com/bxthre3inc/farmsense-main.git
	branch = main
